{% extends 'reid/base-reid.html' %}
{%load static%}
{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area other_bread">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li>/</li>
                            <li>cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    
    <!--shopping cart area start -->
    <div class="shopping_cart_area">
        <div class="container">  
            
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product_quantity">Quantity</th>
                                            <th class="product_total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item, variation in cart_items_variations  %}
                                        <tr>
                                           <td class="product_remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb"><a href="#"><img src="{% static 'reid_assets/img/s-product/product.jpg' %}" alt=""></a></td>
                                            <td class="product_name"><a href="#">{{ cart_item.product }}</a></td>
                                            <td class="product-price">Rs.{{ cart_item.product.price }}</td>
                                            <td class="product_quantity"><input id="quantity-input" min="1" max="100" value="{{ cart_item.quantity }}" type="number" data-cart-item-id="{{ cart_item.id }}"></td>
                                            <td class="product_total">Rs.{{ cart_item.sub_total }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>   
                            </div>  
                            <div class="cart_submit">
                                <a href="{% url 'home' %}" type="button" style="background: #242424;
                                border: 0;
                                color: #ffffff;
                                display: inline-block;
                                font-size: 12px;
                                font-weight: 600;
                                height: 38px;
                                line-height: 18px;
                                padding: 10px 15px;
                                text-transform: uppercase;
                                cursor: pointer;
                                -webkit-transition: 0.3s;
                                transition: 0.3s;" >
                                Continue Shopping</a>
                            </div>      
                        </div>
                    </div>
                </div>
                
                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code left">
                                {% if coupon_code == None %}
                                    <h3>Coupon</h3>
                                {% else %}
                                    <h3>Coupon applied</h3>
                                {% endif %}
                                <div class="coupon_inner"> 
                                      
                                    <form action="{% url 'cart' %}" method="POST">
                                        {% csrf_token %}
                                        {% if coupon_code == None %}
                                    <p>Select your coupon code if you have one.</p>
                                    <div class="form-group col-lg-6">
                                        <select class="nice-select niceselect_option" id="dropdown-field" name="coupon_code">
                                          <option value="">-- Select an option --</option>
                                          {% for coupon in coupon_list %}
                                          <option value={{coupon.code}}>{{coupon.code}}</option>
                                          {% endfor %}
                                        </select>
                                      </div> 
                                    <button type="submit">Apply coupon</button>
                                    
                                        <!-- <input class="font-medium" name="coupon_code" placeholder={{coupon_code}} disabled>
                                     -->
                                    {% else %}
                                    <div class="form-group col-lg-6">
                                        <input class="font-medium" name="coupon_code" placeholder={{coupon_code}} disabled>
                                    
                                    
                                        <a href="{% url 'remove_coupon' %}" type="button" class="btn  btn-sm" style="background: #242424;
                                        border: 0;
                                        color: #ffffff;
                                        display: inline-block;
                                        font-size: 12px;
                                        font-weight: 600;
                                        height: 38px;
                                        line-height: 18px;
                                        padding: 10px 15px;
                                        text-transform: uppercase;
                                        cursor: pointer;
                                        -webkit-transition: 0.3s;
                                        transition: 0.3s;" ><i class="fi-rs-label mr-10"></i>Remove</a>
                                    </div>
                                    {% endif %}
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>Cart Totals</h3>
                                <div class="coupon_inner">
                                   <div class="cart_subtotal">
                                       <p>Subtotal</p>
                                       <p class="cart_amount">Rs.{{cart_total}}</p>
                                   </div>
                                   <div class="cart_subtotal">
                                       <p>Coupon</p>
                                       <p class="cart_amount"> {{ coupon_code }}-{{coupon_code.discount}}</p>
                                   </div>
                                   <div class="cart_subtotal ">
                                       <p>Shipping</p>
                                       <p class="cart_amount"><span>Flat Rate:</span> Free shipping</p>
                                   </div>
                                   <a href="#">Calculate shipping</a>

                                   <div class="cart_subtotal">
                                       <p>Total</p>
                                       <p class="cart_amount">Rs.{{total}}</p>
                                   </div>
                                   <div class="checkout_btn">
                                       <a href="{% url 'place_order' %}">Proceed to Checkout</a>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
                
            
        </div>     
    </div>
    <!--shopping cart area end -->
    
  
<!-- JS
============================================ -->
<script src="{% static 'reid_assets/js/update_quantity.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'reid_assets/js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'reid_assets/js/main.js' %}"></script>



</body>


<!-- Mirrored from htmldemo.net/reid/reid/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:44:34 GMT -->
</html>
{% endblock %}