{% extends 'reid/base-reid.html' %}
{%load static%}
{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area other_bread">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li>/</li>
                            <li>checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    
    <!--Checkout page section-->
    <div class="Checkout_section" id="accordion">
       <div class="container">
            <!-- <div class="row">
               <div class="col-12">
                    <div class="user-actions">
                        <h3> 
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_login" aria-expanded="true">Click here to login</a>     

                        </h3>
                         <div id="checkout_login" class="collapse" data-bs-parent="#accordion">
                            <div class="checkout_info">
                                <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing & Shipping section.</p>  
                                <form action="#">  
                                    <div class="form_group">
                                        <label>Username or email <span>*</span></label>
                                        <input type="text">     
                                    </div>
                                    <div class="form_group">
                                        <label>Password  <span>*</span></label>
                                        <input type="text">     
                                    </div> 
                                    <div class="form_group group_3 ">
                                        <button type="submit">Login</button>
                                        <label for="remember_box">
                                            <input id="remember_box" type="checkbox">
                                            <span> Remember me </span>
                                        </label>     
                                    </div>
                                    <a href="#">Lost your password?</a>
                                </form>          
                            </div>
                        </div>    
                    </div>
                    <div class="user-actions">
                        <h3> 
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Returning customer?
                            <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_coupon" aria-expanded="true">Click here to enter your code</a>     

                        </h3>
                           <div id="checkout_coupon" class="collapse" data-bs-parent="#accordion">
                            <div class="checkout_info">
                                <form action="#">
                                    <input placeholder="Coupon code" type="text">
                                    <button type="submit">Apply coupon</button>
                                </form>
                            </div>
                        </div>    
                    </div>    
               </div>
            </div> -->
            <div class="checkout_form">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form action="{% url 'order_success' cart=cart user_name=user.username %}" method="post">
                            {% csrf_token %}
                            <h3>Billing Details</h3>
                            <div class="row">
                                <div class="mb-25">
                                    <h5>Choose Address </h5>
                                </div>
                                <div class="payment_method">
                                {% for address in addresses %}
                                <div class="panel-default">

                                        <input style="top: -70px;" required="" id="address-{{ address.id }}" name="delivery_address" type="radio" checked="" value="{{ address.id }}"  />
                                        <label for="address-{{ address.id }}">
                                        <strong>{{ address.address_title }}</strong><br>
                                        {{ address.locality }}<br>
                                        {{ address.city }}, {{ address.state }} {{ address.pincode }}<br>
                                        {{ address.ph_number }}
                                        </label>
                                </div>
                                {% endfor %}
                                </div>

                                
                                <div class="col-12 mb-20">
                                    <div class="panel-default">
                                    <input required="" type="radio" name="delivery_address" id="address-{{ address.id }}"  value="new address">
                                    <label class="righ_0" for="address" data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-controls="collapseOne">Ship to a different address?</label>
                                    </div>
                                    <div id="collapsetwo" class="collapse one" data-bs-parent="#accordion">
                                        <div class="row">
                                            <label>(<span>*</span>) Marked fields are mandatory.</label>
                                            <div class="col-lg-6 mb-20">
                                                <label>Address title <span>*</span></label>
                                                <input type="text"  name="address_title" placeholder="Address title">   
                                            </div>
                                            <div class="col-lg-6 mb-20">
                                                <label>Name  <span>*</span></label>
                                                <input type="text"  name="name" placeholder="Name">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label>Phone Number <span>*</span></label>
                                                <input  type="text" name="ph_number" placeholder="Phone Number">  
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label for="country">Address <span>*</span></label>
                                                <input type="text" name="address" placeholder="Address">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label>Pincodes  <span>*</span></label>
                                                <input type="text" name="pincode"  placeholder="Pincode ">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label>Locality <span>*</span></label>
                                                <input  type="text" name="locality" placeholder="Locality">
                                            </div>
                                            <div class="col-12 mb-20">
                                                <label>City <span>*</span></label>
                                                <input  type="text" name="city" placeholder="City">
                                            </div> 
                                             <div class="col-12 mb-20">
                                                <label>State <span>*</span></label>
                                                <input  type="text" name="state" placeholder="State"> 
                                            </div> 
                                            <div class="col-lg-6 mb-20">
                                                <label>Landmark</label>
                                                <input type="text" name="landmark" placeholder="Landmark">
            
                                            </div> 
                                             <div class="col-lg-6 mb-20">
                                                <label> Alternate Phone Number  </label>
                                                <input type="text" name="alternate_phone_numbel" placeholder="Alternate Phone Number">
            
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12">
                                    <div class="order-notes">
                                         <label for="order_note">Order Notes</label>
                                        <textarea id="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>    
                                </div>   -->
                            </div>
                          
                    </div>
                    <div class="col-lg-6 col-md-6">
                          
                            <h3>Your order</h3> 
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cart_item, variation in cart_items_variations  %}
                                        <tr>
                                            <td>{{cart_item.product}}<br>{{variation.size}} <strong> × {{ cart_item.quantity }}</strong></td>
                                            <td>Rs.{{ cart_item.product.promotion_price }}</td>
                                        </tr>
                                        {%endfor %}
                                        
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Cart Subtotal</th>
                                            <td>Rs.{{cart_total}}</td>
                                        </tr>
                                        <tr>
                                            <th>Coupon</th>
                                            <td><strong>{{coupon_code}}-{{coupon_code.discount}}% discount</strong></td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td><strong>Free Shipping</strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td><strong>Rs.{{total}}</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>     
                            </div>
                            <div class="payment_method">
                               <div class="panel-default">
                                {% if total > 1000 %}
                                    <input disabled required="" id="exampleRadios3" name="payment_option" type="radio" value = "CASH_ON_DELIVERY" data-bs-target="createp_account" />
                                    <label for="payment" data-bs-toggle="collapse" data-bs-target="#method" aria-controls="method">Cash on delivery</label> (For order above Rs.1000, Cash on delivery is not available.)
                                {% else %}
                                    <input required="" id="exampleRadios3" name="payment_option" type="radio" value = "CASH_ON_DELIVERY" data-bs-target="createp_account" />
                                    <label for="payment" data-bs-toggle="collapse" data-bs-target="#method" aria-controls="method">Cash on delivery</label>
                            
                                {% endif %}
                                    <div id="method" class="collapse one" data-bs-parent="#accordion">
                                        <div class="card-body1">
                                           <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-default">
                                {% if wallet_balance >= total %}
                                    <input required="" id="exampleRadios4" name="payment_option" type="radio" value = "WALLET" data-bs-target="createp_account" />
                                    <label for="payment_defult" data-bs-toggle="collapse" data-bs-target="#collapsedefult" aria-controls="collapsedefult">Pay using Wallet </label>
                                {% else %}
                                    <input  disabled required="" id="exampleRadios4" name="payment_option" type="radio" value = "WALLET" data-bs-target="createp_account" />
                                    <label for="payment_defult" data-bs-toggle="collapse" data-bs-target="#collapsedefult" aria-controls="collapsedefult">Pay using Wallet </label> (Wallet balance is insufficient.)
                                {% endif %}
                                    <div id="collapsedefult" class="collapse one" data-bs-parent="#accordion">
                                        <div class="card-body1">
                                           <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p> 
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="panel-default">
                                    <input required="" id="exampleRadios4" name="payment_option" type="radio" value = "RAZORPAY" data-bs-target="createp_account" />
                                    <label for="payment_defult" data-bs-toggle="collapse" data-bs-target="#collapsedefult" aria-controls="collapsedefult">Razorpay </label>
                                    <img src="{% static 'reid_assets/img/icon/papyel.png' %}" alt="">

                                    <div id="collapse defult" class="collapse one" data-bs-parent="#accordion">
                                        <div class="card-body1">
                                           <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p> 
                                        </div>
                                    </div>
                                </div>
                                <div class="order_button">
                                    <button  type="submit">Place Order</button> 
                                </div> 
                                {% include 'reid/includes/alerts.html' %}   
                            </div> 
                        </form>         
                    </div>
                </div> 
            </div> 
        </div>       
    </div>
    <!--Checkout page section end-->
 
   
<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="{% static 'reid_assets/js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'reid_assets/js/main.js' %}"></script>



</body>


<!-- Mirrored from htmldemo.net/reid/reid/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:44:34 GMT -->
</html>
{% endblock %}