{% extends 'reid/base-reid.html' %}
{%load static%}
{% block content %}

    <!--slider area start-->
    <div class="slider_area slider_style owl-carousel">
        <div class="single_slider" data-bgimg="{% static 'reid_assets/img/slider/slide1.jpg' %}">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="slider_content content_one">
                            <img src="{% static 'reid_assets/img/slider/content.png' %}" alt="">
                            <p>the wooboom spring collection is back at half price</p>
                            <a href="shop.html">Discover Now</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider" data-bgimg="{% static 'reid_assets/img/slider/slide2.jpg' %}">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="slider_content content_two">
                            <img src="{% static 'reid_assets/img/slider/content1.png' %}" alt="Unavailable">
                            <p>the wooboom jacket collection is back at half price</p>
                            <a href="shop.html">Discover Now</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider" data-bgimg="{% static 'reid_assets/img/slider/slide3.png' %}">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="slider_content content_three">  <img src="{% static 'reid_assets/img/slider/content2.png' %}" alt="Unavailable">
                            <p>the wooboom clothing summer collection is back at half price</p>
                            <a href="shop.html">Discover Now</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--slider area end-->
    
    <!--product section area start-->
    <section class="product_section womens_product">
        <div class="container-fluid">
            <div class="row">   
                <div class="col-lg-6 col-md-12">
                    <div class="banner_area">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="{% static 'reid_assets/img/bg/banner2.jpg' %}" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                   <div class="section_title">
                       <h2>For Women’s Collection</h2>
                       <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
                   </div>
                    <div class="product_area"> 
                        <div class="product_tab_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#clothing" role="tab" aria-controls="clothing" aria-selected="true">Clothing</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#handbag" role="tab" aria-controls="handbag" aria-selected="false">Handbag</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#shoes" role="tab" aria-controls="shoes" aria-selected="false">Shoes</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#accessories" role="tab" aria-controls="accessories" aria-selected="false">Accessories</a>
                                </li>
                            </ul>
                        </div>
                         <div class="tab-content">
                              <div class="tab-pane fade show active" id="clothing" role="tabpanel">
                                     <div class="product_container">
                                        <div class="row product_column3">
                                            {% for product in products %}
                                            <div class="col-lg-3">
                                                <div class="single_product">
                                                    <div class="product_thumb">
                                                        <a class="primary_img" href="{{ product.get_url }}"><img src="{{ product.images.first.image.url }}" alt=""></a>
                                                        <a class="secondary_img" href="{{ product.get_url }}"><img src="{{ product.images.first.image.url }}" alt=""></a>
                                                        <div class="product_action">
                                                            <div class="hover_action">
                                                               <a  href="#"><i class="fa fa-plus"></i></a>
                                                                <div class="action_button">
                                                                    <ul>

                                                                        <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                                                        <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                                                                        <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>

                                                                    </ul>
                                                                </div>
                                                           </div>
                                                            
                                                        </div>
                                                        <div class="quick_button">
                                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                                                        </div>

                                                        <div class="product_sale">
                                                            <span>-7%</span>
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <h3><a href="{{ product.get_url }}">{{ product.product_name}}</a></h3>
                                                        <span class="current_price">Rs.{{product.price}}</span>
                                                        <span class="old_price">Rs.{{product.price}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </div>

                </div>
            </div>    
        </div>
    </section>
<!------------------------------------------------------------------------------------------------product section area end-->
    
<!-------------------------------------------------------------------------------------------------banner area start-->
    <section class="banner_section">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-12">
                   <div class="banner_conteiner">
                       <div class="banner_text">
                            <h1>Game Of Thrones Jaime<br> Lannister <br>Themed Sneakers</h1>
                            <a href="shop.html">Discover Now</a>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </section>
    <!--banner area end-->
    
<!----------------------------------------------------------------------------------------------product section area start-->
    <section class="product_section mens_product">
        <div class="container-fluid">
            <div class="row">   
                <div class="col-lg-6 col-md-12">
                    <div class="section_title">
                       <h2>For Men’s Collection</h2>
                       <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
                    </div>
                    <div class="product_area"> 
                        <div class="product_tab_button">
                            <ul class="nav" role="tablist">
                                <li>
                                    <a class="active" data-bs-toggle="tab" href="#clothing2" role="tab" aria-controls="clothing2" aria-selected="true">Clothing</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#handbag2" role="tab" aria-controls="handbag2" aria-selected="false">Handbag</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#shoes2" role="tab" aria-controls="shoes2" aria-selected="false">Shoes</a>
                                </li>
                                <li>
                                    <a data-bs-toggle="tab" href="#accessories2" role="tab" aria-controls="accessories2" aria-selected="false">Accessories</a>
                                </li>
                            </ul>
                        </div>
                         <div class="tab-content">
                              <div class="tab-pane fade show active" id="clothing2" role="tabpanel">
                                     <div class="product_container">
                                        <div class="row product_column3">
                                            {% for product in products %}
                                            <div class="col-lg-3">
                                                <div class="single_product">
                                                    <div class="product_thumb">
                                                        <a class="primary_img" href="{{ product.get_url }}"><img src="{{ product.images.first.image.url }}" alt=""></a>
                                                        <a class="secondary_img" href="{{ product.get_url }}"><img src="{{ product.images.first.image.url }}" alt=""></a>
                                                        <div class="product_action">
                                                            <div class="hover_action">
                                                               <a  href="#"><i class="fa fa-plus"></i></a>
                                                                <div class="action_button">
                                                                    <ul>

                                                                        <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                                                        <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>

                                                                        <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>

                                                                    </ul>
                                                                </div>
                                                           </div>
                                                            
                                                        </div>
                                                        <div class="quick_button">
                                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                                                        </div>

                                                        <div class="product_sale">
                                                            <span>-7%</span>
                                                        </div>
                                                    </div>
                                                    <div class="product_content">
                                                        <h3><a href="{{ product.get_url }}">{{ product.product_name}}</a></h3>
                                                        <span class="current_price">Rs.{{product.price}}</span>
                                                        <span class="old_price">Rs.{{product.price}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                              </div>
                              
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="banner_area">
                        <div class="banner_thumb">
                            <a href="shop.html"><img src="{% static 'reid_assets/img/bg/banner4.jpg' %}" alt="#"></a>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </section>
    <!--product section area end-->
    
    <!--blog section area start-->
    <section class="blog_section">
        <div class="container">
            <div class="row">
               <div class="col-12">
                   <div class="section_title">
                       <h2>Latest Blogs</h2>
                       <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
                   </div>
               </div>
            </div>
            <div class="row">
                <div class="blog_wrapper blog_column3 owl-carousel">
                    <div class="col-lg-4">
                        <div class="single_blog">
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="{% static 'reid_assets/img/blog/blog1.jpg' %}" alt=""></a>
                                <div class="blog_icon">
                                    <a href="blog-details.html"></a>
                                </div>
                            </div>
                            <div class="blog_content">
                                <h3><a href="blog-details.html">Mercedes Benz– Mirror To The Soul 360</a></h3>
                                <div class="author_name">
                                   <p> 
                                        <span class="post_by">by</span>
                                        <span class="themes">ecommerce Themes</span>
                                        / 30 Oct 2017
                                   </p>
                                </div>
                                <div class="post_desc">
                                    <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single_blog">
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="{% static 'reid_assets/img/blog/blog2.jpg' %}" alt=""></a>
                                <div class="blog_icon">
                                    <a href="blog-details.html"></a>
                                </div>
                            </div>
                            <div class="blog_content">
                                <h3><a href="blog-details.html">Dior F/W 2015 First Fashion Experience</a></h3>
                                <div class="author_name">
                                   <p> 
                                        <span class="post_by">by</span>
                                        <span class="themes">ecommerce Themes</span>
                                        / 30 Oct 2017
                                   </p>
                                    
                                </div>
                                <div class="post_desc">
                                    <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single_blog">
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="{% static 'reid_assets/img/blog/blog3.jpg' %}" alt=""></a>
                                <div class="blog_icon">
                                    <a href="blog-details.html"></a>
                                </div>
                            </div>
                            <div class="blog_content">
                                <h3><a href="blog-details.html">London Fashion Week & Royal Day</a></h3>
                                <div class="author_name">
                                   <p> 
                                        <span class="post_by">by</span>
                                        <span class="themes">ecommerce Themes</span>
                                        / 30 Oct 2017
                                   </p>
                                    
                                </div>
                                <div class="post_desc">
                                    <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single_blog">
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="{% static 'reid_assets/img/blog/blog2.jpg' %}" alt=""></a>
                                <div class="blog_icon">
                                    <a href="blog-details.html"></a>
                                </div>
                            </div>
                            <div class="blog_content">
                                <h3><a href="blog-details.html">Best of New York Spring/Summer 2016</a></h3>
                                <div class="author_name">
                                   <p> 
                                        <span class="post_by">by</span>
                                        <span class="themes">ecommerce Themes</span>
                                        / 30 Oct 2017
                                   </p>
                                    
                                </div>
                                <div class="post_desc">
                                    <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--blog section area end-->
 
    <!--Instagram area start--> 
    <section class="instagram_area">
        <div class="container-fluid">
            <div class="row">
               <div class="col-12">
                   <div class="section_title">
                       <h2>Follow us On Instagram</h2>
                       <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
                   </div>
               </div>
           </div>
           <div class="instagram_home_block">
                <div class="row">
                    <div class="instagram_wrapper instagram_column5 owl-carousel">
                       <div class="col-lg-3">
                           <div class="single_instagram">
                               <a href="#"><img src="{% static 'reid_assets/img/about/intagram.png' %}" alt=""></a>
                               <div class="instagram_icone">
                                   <a class="instagram_pupop" href="reid_assets
                                   /img/about/intagram.png"><i class="fa fa-instagram"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="single_instagram">
                               <a href="#"><img src="{% static 'reid_assets/img/about/intagram1.png' %}" alt=""></a>
                               <div class="instagram_icone">
                                   <a class="instagram_pupop" href="reid_assets/img/about/intagram1.png"><i class="fa fa-instagram"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="single_instagram">
                               <a href="#"><img src="{% static 'reid_assets/img/about/intagram2.png' %}" alt=""></a>
                               <div class="instagram_icone">
                                   <a class="instagram_pupop" href="reid_assets/img/about/intagram2.png"><i class="fa fa-instagram"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="single_instagram">
                               <a href="#"><img src="{% static 'reid_assets/img/about/intagram3(1).png' %}" alt=""></a>
                               <div class="instagram_icone">
                                   <a class="instagram_pupop" href="reid_assets/img/about/intagram3(1).png"><i class="fa fa-instagram"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="single_instagram">
                               <a href="#"><img src="{% static 'reid_assets/img/about/intagram4(1).png' %}" alt=""></a>
                               <div class="instagram_icone">
                                   <a class="instagram_pupop" href="reid_assets/img/about/intagram4(1).png"><i class="fa fa-instagram"></i></a>
                               </div>
                           </div>
                       </div>
                       <div class="col-lg-3">
                           <div class="single_instagram">
                               <a href="#"><img src="{% static 'reid_assets/img/about/intagram1.png' %}" alt=""></a>
                               <div class="instagram_icone">
                                   <a class="instagram_pupop" href="reid_assets/img/about/intagram1.png"><i class="fa fa-instagram"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-12">
                       <div class="text_follow">
                           <a href="#">#Follow us on Instagram</a>
                       </div>
                   </div>
                </div>
           </div>
        </div>
    </section>
    <!--Instagram area end--> 
    

    <!-- modal area start-->
    <div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <div class="modal_tab">  
                                    <div class="tab-content product-details-large">
                                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" >
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'reid_assets/img/product/product4.jpg' %}" alt=""></a>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab2" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'reid_assets/img/product/product6.jpg' %}" alt=""></a>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab3" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'reid_assets/img/product/product8.jpg' %}" alt=""></a>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab4" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'reid_assets/img/product/product2.jpg' %}" alt=""></a>    
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tab5" role="tabpanel">
                                            <div class="modal_tab_img">
                                                <a href="#"><img src="{% static 'reid_assets/img/product/product12.jpg' %}" alt=""></a>    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal_tab_button">    
                                        <ul class="nav product_navactive owl-carousel" role="tablist">
                                            <li >
                                                <a class="nav-link active" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="false"><img src="{% static 'reid_assets
                                                    /img/s-product/product3.jpg' %}" alt=""></a>
                                            </li>
                                            <li>
                                                 <a class="nav-link" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><img src="{% static 'reid_assets
                                                    /img/s-product/product.jpg' %}" alt=""></a>
                                            </li>
                                            <li>
                                               <a class="nav-link button_three" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><img src="{% static 'reid_assets
                                                /img/s-product/product2.jpg' %}" alt=""></a>
                                            </li>
                                            <li>
                                               <a class="nav-link" data-bs-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false"><img src="{% static 'reid_assets
                                                /img/s-product/product4.jpg' %}" alt=""></a>
                                            </li>
                                            <li>
                                               <a class="nav-link" data-bs-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false"><img src="{% static 'reid_assets
                                                /img/s-product/product5.jpg' %}" alt=""></a>
                                            </li>

                                        </ul>
                                    </div>    
                                </div>  
                            </div> 
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="modal_right">
                                    <div class="modal_title mb-10">
                                        <h2>Handbag feugiat</h2> 
                                    </div>
                                    <div class="modal_price mb-10">
                                        <span class="new_price">$64.99</span>    
                                        <span class="old_price" >$78.99</span>    
                                    </div>
                                    <div class="modal_description mb-15">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel recusandae </p>    
                                    </div> 
                                    <div class="variants_selects">
                                        <div class="variants_size">
                                           <h2>size</h2>
                                           <select class="select_option">
                                               <option selected value="1">s</option>
                                               <option value="1">m</option>
                                               <option value="1">l</option>
                                               <option value="1">xl</option>
                                               <option value="1">xxl</option>
                                           </select>
                                        </div>
                                        <div class="variants_color">
                                           <h2>color</h2>
                                           <select class="select_option">
                                               <option selected value="1">purple</option>
                                               <option value="1">violet</option>
                                               <option value="1">black</option>
                                               <option value="1">pink</option>
                                               <option value="1">orange</option>
                                           </select>
                                        </div>
                                        <div class="modal_add_to_cart">
                                            <form action="#">
                                                <input min="0" max="100" step="2" value="1" type="number">
                                                <button type="submit">add to cart</button>
                                            </form>
                                        </div>   
                                    </div>
                                    <div class="modal_social">
                                        <h2>Share this product</h2>
                                        <ul>
                                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>    
                                    </div>      
                                </div>    
                            </div>    
                        </div>     
                    </div>
                </div>    
            </div>
        </div>
    </div> 
    <!-- modal area start-->
    
    <div class="newletter-popup">
        <div id="boxes" class="newletter-container">
            <div id="dialog" class="window">
                <div id="popup2">
                    <span class="b-close"><span>close</span></span>
                </div>
                <div class="box">
                    <div class="newletter-title">
                        <h2>Newsletter</h2>
                    </div>
                    <div class="box-content newleter-content">
                        <label class="newletter-label">Enter your email address to subscribe our notification of our new post &amp; features by email.</label>
                        <div id="frm_subscribe">
                            <form name="subscribe" id="subscribe_popup">
                                    <!-- <span class="required">*</span><span>Enter you email address here...</span>-->
                                    <input type="text" value="" name="subscribe_pemail" id="subscribe_pemail" placeholder="Enter you email address here...">
                                    <input type="hidden" value="" name="subscribe_pname" id="subscribe_pname">
                                    <div id="notification"></div>
                                    <a class="theme-btn-outlined" onclick="email_subscribepopup()"><span>Subscribe</span></a>
                            </form>
                            <div class="subscribe-bottom">
                                <input type="checkbox" id="newsletter_popup_dont_show_again">
                                <label for="newsletter_popup_dont_show_again">Don't show this popup again</label>
                            </div>
                        </div>
                        <!-- /#frm_subscribe -->
                    </div>
                    <!-- /.box-content -->
                </div>
            </div>

        </div>
    </div>


<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="{% static 'reid_assets/js/plugins.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'reid_assets/js/main.js' %}"></script>



</body>


<!-- Mirrored from htmldemo.net/reid/reid/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:44:23 GMT -->
</html>
{% endblock %}