{% extends 'reid/base-reid.html' %}
{%load static%}
{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area other_bread">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li>/</li>
                            <li>wishlist</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    
    <!--wishlist area start -->
    <div class="wishlist_area">
                <div class="container">   
                    <form action="#"> 
                        <div class="row">
                            <div class="col-12">
                                <div class="table_desc wishlist">
                                    <div class="cart_page table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product_remove">Delete</th>
                                                    <th class="product_thumb">Image</th>
                                                    <th class="product_name">Product</th>
                                                    <th class="product-price">Price</th>
                                                    <th class="product_quantity">Stock Status</th>
                                                    <th class="product_total">Add To Cart</th>KW
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for stock_status, wishlist, product in wishlist_products %}
                                                <tr>
                                                   <td class="product_remove"><a href="{% url 'remove_wishlist' product_id=product.id %}">X</a></td>
                                                    <td class="product_thumb"><a href="#"><img src="{{ product.images.first.image.url }}" style="max-width: 40%;height: auto;" alt=""></a></td>
                                                    <td class="product_name"><a href="#">{{ product }}</a></td>
                                                    <td class="product-price">Rs.{{ product.promotion_price }}</td>
                                                    <td class="product_quantity">
                                                        {{stock_status}}
                                                    </td>  
                                                    <td class="product_total">
                                                        {% if stock_status == 'In stock' %}
                                                        <a href="{% url 'wishlist_add_cart' product_id=product.id %}">Add To Cart</a>
                                                        {% else %}
                                                        <button disabled>Remind when stock is update</button>
                                                        {% endif %}
                                                    </td>
                                                    
                                                </tr>  
                                                {% endfor %}
                                            </tbody>
                                        </table>   
                                    </div>  

                                </div>
                             </div>
                         </div>

                    </form> 
                    <!-- <div class="row">
                        <div class="col-12">
                             <div class="wishlist_share">
                                <h4>Share on:</h4>
                                <ul>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>           
                                    <li><a href="#"><i class="fa fa-vimeo"></i></a></li>           
                                    <li><a href="#"><i class="fa fa-tumblr"></i></a></li>           
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>        
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>        
                                </ul>      
                            </div>
                        </div> 
                    </div> -->
                    
                </div>
            </div>
     <!--wishlist area end -->
    
<!-- JS
============================================ -->

<!-- Plugins JS -->
<script src="{% static 'reid_assets/js/plugins.js' %}"></script>

<!-- Main JS -->
<script src="{% static 'reid_assets/js/main.js' %}"></script>



</body>


<!-- Mirrored from htmldemo.net/reid/reid/wishlist.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Feb 2024 13:44:34 GMT -->
</html>
{% endblock %}