{% extends 'evara-backend\base-backend.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                </div>
               
            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl.</th>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order, total_price in orders %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>#{{order.id}}</td>
                                    <td><b>{{order.user.username}}</b></td>
                                    <td>{{order.user.email}}</td>
                                    <td>Rs.{{ order.total_price }}</td>
                                    <td>
                                    {% if order.canceled %}
                                    
                                        <span class="badge rounded-pill alert-danger"> Cancelled</span>
                                    
                                    {% elif order.is_returned == 'PROCESSING' %}
                                    
                                        <span class="badge rounded-pill alert-success text-success"> Return in processing</span>
                                    
                                    {% elif order.is_returned == 'RETURNED' %}
                                    
                                        <span class="badge rounded-pill alert-success text-success"> Returned</span>
                                    
                                    {% else %}
                                    
                                        <span class="badge rounded-pill alert-success text-success"> {{order.order_status}}</span>
                                    
                                    {% endif %}
                                   
                                    </td>
                                    <td>{{order.order_date}}</td>
                                    <td class="text-end">
                                        <a href="{% url 'order_detail' order_id=order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                        <!-- <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">View detail</a>
                                                <a class="dropdown-item" href="#">Edit info</a>
                                                <a class="dropdown-item text-danger" href="#">Delete</a>
                                            </div> 
                                        </div>-->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
       
    </main>
    <script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>
{% endblock %}