{% extends 'evara-backend\base-backend.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Customers list</h2>
                <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Sl.no</th>
                                    <th>User</th>
                                    <th>Email</th>
                                    <th>Registered</th>
                                    <th>Last Login</th>
                                    <th>Status</th>
                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in userlist %}
                                <tr>
                                    <td> {{ obj.id }} </td>
                                    <td width="40%">
                                        <a href="#" class="itemside">
                                            <!-- <div class="left">
                                                <img src="{% static 'backend-assets/imgs/people/avatar1.jpg' %}" class="img-sm img-avatar" alt="Userpic">
                                            </div> -->
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title">{{ obj.username }}</h6>
                                                <small class="text-muted">Seller ID: #439</small>
                                            </div>
                                        </a>
                                    </td>
                                    <!-- <td><template class="__cf_email__" data-cfemail="2c4940494d42435e1e1c1e1c6c49544d415c4049024f4341">{{ obj.email }}</template></td> -->
                                    <td>{{ obj.email }}</td>
                                    <td>{{ obj.date_joined }}</td>
                                    <td>{{ obj.last_login }}</td>
                                    <td><span class="badge rounded-pill alert-success">{{ obj.is_active }}</span></td>
                                    <td class="text-end">
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">Block</a>
                                        <a href="#" class="btn btn-sm btn-brand rounded font-sm mt-15">Unblock</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                                    
                            </tbody> 
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->

    </main>
    <script src="{% static 'backend-assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'backend-assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'backend-assets/js/vendors/select2.min.js' %}"></script>
    <script src="{% static 'backend-assets/js/vendors/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'backend-assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'backend-assets/js/main.js' %}" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->
</html>
{% endblock %}