{% extends 'evara-backend\base-backend.html' %}
{% load static %}
{% block content %}
        <section class="content-main">
            <div class="row">
                <form method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button type="submit" class="btn btn-primary">Publish</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center ">
                        {% include 'reid/includes/alerts.html' %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input  type="text" placeholder="Type here"  class="form-control" id="product_name" name="product_name">
                                    {% if errors.prod_name %}
                                        <span style="color: red;">{{ errors.prod_name }}</span>
                                    {% endif %}
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" class="form-control" rows="4" name="product_description" ></textarea>
                                    {% if errors.prod_description %}
                                        <span style="color: red;">{{ errors.prod_description }}</span>
                                    {% endif %}
                                </div>
                                
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="form-label">Category</label>
                                        <select name="product_category" class="form-select" >
                                            {% for obj in category_list %}
                                            <option value="{{ obj.slug}}" > {{ obj.category_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Promotion price</label>
                                            <div class="row gx-2">
                                                <input placeholder="Rs." type="text" class="form-control" name="promotion_price">
                                            </div>
                                        </div>
                                        {% if errors.prom_price %}
                                            <span style="color: red;">{{ errors.prom_price }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">Regular price</label>
                                            <input placeholder="Rs." type="text" class="form-control" name="regular_price">
                                        </div>
                                        {% if errors.reg_price %}
                                            <span style="color: red;">{{ errors.reg_price }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                    </div> <!-- card end// -->
                    
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4><p>Must upload 3 images</p>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <label class="form-label" for="image1">Image 1:</label>
                                <input class="form-control" type="file" name="image1" id="image1" "><br><br>
                                <label class="form-label" for="image2">Image 2:</label>
                                <input class="form-control" type="file" name="image2" id="image2" ><br><br>
                                <label class="form-label" for="image3">Image 3:</label>
                                <input class="form-control" type="file" name="image3" id="image3" ><br><br>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                </div>
            </form>
            </div>
        </section> <!-- content-main end// -->

    </main>
    <script src="{% static 'assets/js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/select2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendors/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/vendors/jquery.fullscreen.min.js' %}"></script>
    <!-- Main Script -->
    <script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>
{% endblock %}